streamlit==1.23.1
Pillow==9.5.0
plotly==5.18.0
tensorflow==2.10.1
scikit-learn
matplotlib
nuscenes-devkit
numpy
pandas
notebook
seaborn
pyYAML
tqdm
keras
db-sqlite3
ensure==1.0.2
python-box==6.0.2
joblib
types-PyYAML
Flask
Flask-Cors
-e .
